@model List<MyFristApp.Models.TaskViewModel>

@{
	List<int> ids = new List<int>();
	ViewData["Title"] = "Taski na dziś?";
}

<h2>Finished</h2>
<form method="post">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Nazwa</th>
				<th>Opis</th>
				<th>Zajęcia</th>
				<th>Do kiedy?</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td><input type="checkbox" name="complete" value="true" asp-for="@item.IsCompleted" /></td>
					<td><input type="hidden" asp-route-id="@item.Id" /></td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.ClassName</td>
					<td>@item.Deadline.ToString("dd MM yyyy")</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<button type="submit" class="btn btn-primary" asp-action="Finished">Ukończ</button>
</form>
<form method="get">
	<button type="submit" class="btn btn-primary" asp-action="Create">Dodaj zadanko</button>
</form>
