@model List<MyFristApp.Models.TaskViewModel>

@{
    ViewData["Title"] = "Tasks for today?";
}

<h2>What we have to do today?</h2>

<!-- Formularz do oznaczania zadań jako zakończone -->
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Classes</th>
                <th>Deadline</th>
                <th>Is done?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ids" value="@item.Id" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.ClassName</td>
                    <td>@item.Deadline.ToString("dd MM yyyy")</td>
                    <td>@(item.IsCompleted ? "✔️" : "❌")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" asp-action="Finish">Finish</button>
    <button type="submit" class="btn btn-primary" asp-action="NotFinish">Not finished</button>
    <button type="submit" class="btn btn-primary" asp-action="Create">Add task</button>
</form>